<h3 id="gi"> General Information</h3>
<p id="giw">We are a new Bed and Breakfast so would love to<br>
            hear your feedback so please get in touch with<br> 
            any questions or concerns.</p>