<p class="customer"><%= @bbw.pretty_name() %></p>
<p class="customer">Total: £<%= @bbw.total() %></p>
<p class="customer">Checking in on <%=@bbw.check_in_date%></p>
<p class="customer">Staying for <%=@bbw.nights%> nights</p>
<p class="customer">Please enjoy your stay</p>